@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  columns: #333333;
}

a {
  text-decoration: none;
  font-size: 1.6em;
  font-weight: 500;
  color: black;
  padding: 5px;
}

a:hover {
  text-decoration: none;
  color: #333333;
}

img {
  width: 100%;
}

/* Container for flexboxes */

.row-center {
  display: flex;
  justify-content: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10%;
}

/* Create four equal columns */

.column {
  padding: 20px;
  margin: 10px 10px;
  max-width: 320px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
}
