* {
  box-sizing: border-box;
}

/* Container for flexboxes */
.row {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
}

/* Create four equal columns */
.column {
  flex: 25%;
  padding: 20px;
  border: 1px solid black;
}
