@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Container for flexboxes */

h2 {
  font-weight: 400;
  color: #75ba8c;
}

p {
  color: #404040;
  line-height: 1.4;
}
.row-center {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
}

/* Create four equal columns */
.column {
  flex: 20%;
  padding: 20px;
  border: 1px solid black;
  margin: 10px 10px;
}
