@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: #8f8f8f;
  background-color: #fbfcfd;
}

h1 {
  font-size: 1.2em;
  font-weight: 700;
  color: #333333;
  margin-bottom: 10px;
}

h2 {
  font-size: 0.8em;

  font-weight: 400;
  color: #333333;
}

.date {
  font-size: 0.8em;
  letter-spacing: 0.05em;
}

/* Start Card */

.card {
  width: 490px;
  height: 258px;
  margin: auto;
  border: 1px solid #e5e5e5;
  display: flex;
  align-items: stretch;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card-body {
  padding: 20px;
}

/* Footer */

.card-footer {
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.card-footer-middle {
  margin-left: 10px;
}

.card-footer-right {
  margin-left: 55px;
}
